.panda-card {
    border: 0px;
}
.panda-card-footer {
    background-color: white;
    border: 0;
}
.categories img {
     width: 120px;
}
.panda .carousel-item {
    background-color: rgb(245, 188, 199);
    border-radius: 1em;
}